h1 {
  border-width: 10px;
  border-style: solid;
  border-color: red;
  font-size: 92px;
  font-family: tangerine;
  padding: 9px;
}
h2 {
  font-color: red;
  font-size: 32px;
}
p {
  font-size: 24px;
  font-family: Tahoma;
}
ol {
  font-size: 20px;
  font-family: Verdana;
}
button {
  border-radius: 15px;
  text-align: center;
}
body {
  background-color: #afb1f3;
}
form {
  text-align: center;
}
* {
  color: #02066f;
}
